In [17]:
# Exploring recommended packages
import pandas as pd
import altair as alt
import numpy as np
import openpyxl as opp

In [18]:
#Extracting the data for table 1
table1 = pd.read_excel("/Users/audreymedaino-tardif/Intro-Pyth/inf1340-programmingfordatascience-fa22/project data/UN_MigrantStockTotal_2015.xlsx", sheet_name="Table 1")
table1.head(20)
len(table1.index)

280

In [25]:
# Tinkering with the data => Removing the Titles without saving the removal.
removeTitles = table1.dropna(thresh = 3, inplace = True)
print(removeTitles)
len(table1.index)

# There are still 280 rows, but our 'selected' output demonstrames successfully cutting the wanted rows.

#Renaming the columns

table1.rename(columns = {'Unnamed: 0' : "Sort/Order", 'Unnamed: 1' : 'Major Area, Region, Country, or area of destination', 'Unnamed: 2': 'Notes', 'Unnamed: 3' : 'Country Code', 'Unnamed: 4' : 'Type of data(a)', 'Unnamed: 5' : 'International migrant stock at mid-year(both sexes)','Unnamed: 6' : 'NaN', 'Unnamed: 7': 'NaN', 'Unnamed: 8' : 'NaN', 'Unnamed: 9': 'NaN', 'Unnamed: 10': 'NaN', 'Unnamed: 13':'NaN', 'Unnamed: 14':'NaN', 'Unnamed: 15':'NaN', 'Unnamed: 16': 'NaN', 'Unnamed: 17': 'International migrant stock at mid-year(female)','Unnamed: 18':'NaN', 'Unnamed: 19':'NaN', 'Unnamed: 20':'NaN', 'Unnamed: 21':'NaN', 'Unnamed: 22':'NaN' }, inplace=True)
display(table1)

None

,Sort/Order,"Major Area, Region, Country, or area of destination",Notes,Country Code,Type of data(a),International migrant stock at mid-year(both sexes),NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,International migrant stock at mid-year(female),NaN,NaN,NaN,NaN,NaN
13,Sort\norder,"Major area, region, country or area of destina...",Notes,Country code,Type of data (a),International migrant stock at mid-year (both ...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,International migrant stock at mid-year (female),NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,1990,1995,2000,2005,2010.0,...,2000,2005,2010.0,2015.0,1990,1995,2000,2005,2010.0,2015.0
15,1,WORLD,NaN,900,NaN,152563212,160801752,172703309,191269100,221714243.0,...,87884839,97866674,114613714.0,126115435.0,74815702,79064275,84818470,93402426,107100529.0,117584801.0
16,2,Developed regions,(b),901,NaN,82378628,92306854,103375363,117181109,132560325.0,...,50536796,57217777,64081077.0,67618619.0,42115231,47214055,52838567,59963332,68479248.0,72863336.0
17,3,Developing regions,(c),902,NaN,70184584,68494898,69327946,74087991,89153918.0,...,37348043,40648897,50532637.0,58496816.0,32700471,31850220,31979903,33439094,38621281.0,44721465.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275,261,Samoa,NaN,882,B,3357,4694,5998,5746,5122.0,...,3101,2940,2594.0,2469.0,1586,2243,2897,2806,2528.0,2460.0
276,262,Tokelau,NaN,772,B,270,266,262,258,429.0,...,144,133,206.0,233.0,120,119,118,125,223.0,254.0
277,263,Tonga,NaN,776,B,2911,3274,3684,4301,5022.0,...,1981,2328,2727.0,3127.0,1423,1556,1703,1973,2295.0,2604.0
278,264,Tuvalu,NaN,798,C,318,263,217,183,154.0,...,121,101,85.0,78.0,138,115,96,82,69.0,63.0
279,265,Wallis and Futuna Islands,NaN,876,B,1402,1680,2015,2365,2776.0,...,1018,1194,1401.0,1438.0,676,821,997,1171,1375.0,1411.0